@font-face {
    src: url("Montserrat-SemiBold.ttf");
    font-family: Montserrat;
}
*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
.game{
    background-image: url("Background.png");
    background-size: 100%;
    width: 576px;
    height: 324px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 4px rgba(0,0,0,.05);
    overflow: hidden;
}
.title{
    position: relative;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: white;
}
.game-object{
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}
.rock{
    position: absolute;
    width: 64px;
    height: 64px;
    background-repeat: repeat;
    background-image: url("img/stone.png");
    z-index: 5;
}
.player{
    background-image: url("Biker_idle.png");
    background-size: auto;
    background-position-x: 0;
    background-position-y: -16px;
    z-index: 3;
}
.grounds{
    background-image: url("IndustrialTile_64.png");
}
.heart{
    background-image: url("img/heart.png");
    z-index: 2;
}